<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPAGE</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>MY<span>PAGE</span></h1>
            </div>

            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/join">Join</a></li>
            </ul>
        </div>
    </div>
</body>
</html>